@inject NavigationManager Navigation
@rendermode InteractiveServer

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <image src="Images/top-five-logo.png" width="75" height="40" />
        </a>
        <a role="button" class="navbar-burger @IsActive" aria-label="menu" aria-expanded="false" @onclick="()=>ToggleHamburger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @IsActive">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <div class="navbar-item has-dropdown @IsAlbumsHoverable" @onmouseleave="()=>HideAlbumsDropdown()" @onmouseenter="()=>SetAlbumsHoverable()" @onclick="()=>HideAlbumsDropdown()">
                <a href="/Albums" class="navbar-link is-arrowless">
                    Albums
                </a>
                <div class="navbar-dropdown">
                    <a href="/Albums/Add" class="navbar-item" @onclick="()=>HideAlbumsDropdown()"> Add Album </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown @IsArtistsHoverable" @onmouseleave="(e)=>HideArtistsDropdown()" @onmouseenter="()=>SetArtistsHoverable()" @onclick="()=>HideArtistsDropdown()">
                <a href="/Artists" class="navbar-link is-arrowless">
                    Artists
                </a>
                <div class="navbar-dropdown">
                    <a href="/Artists/Add" class="navbar-item" @onclick="()=>HideArtistsDropdown()"> Add Artist </a>
                </div>
            </div>

            <a class="navbar-item">
                Meet The Team
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field">
                    <div class="control" width="20px">
                        <form @onsubmit="()=>HandleSearch()">
                            <input type="text" placeholder="Search" class="input has-text-white" @bind="@searchTerm"/>
                        </form>
                    </div>
                </div>
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    @* <a class="button is-light"> *@
                    @*     <strong>Sign up</strong> *@
                    @* </a> *@
                    <a class="button is-dark">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    protected string? searchTerm;

    protected string? IsActive { get; set; }

    protected string? IsAlbumsHoverable { get; set; }
    protected string? IsArtistsHoverable { get; set; }

    protected override void OnInitialized()
    {
        IsActive = "";
        IsAlbumsHoverable = "is-hoverable";
        IsArtistsHoverable = "is-hoverable";
    }

    protected void HandleSearch() 
    {
        if(!String.IsNullOrEmpty(searchTerm))
        {
            Navigation.NavigateTo($"/Search?searchTerm={searchTerm}");
        }
    }

    private void ToggleHamburger()
    {
        IsActive = IsActive is "" ? "is-active" : "";
    }

    protected void SetAlbumsHoverable()
    {
        IsAlbumsHoverable = "is-hoverable";
    }

    protected void SetArtistsHoverable()
    {
        IsArtistsHoverable = "is-hoverable";
    }

    private void HideAlbumsDropdown()
    {
        IsAlbumsHoverable = "";
    }

    private void HideArtistsDropdown()
    {
        IsArtistsHoverable = "";
    }
}

